@charset "UTF-8";
/** General ********************************************************/
* {
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 300;
}
body,html{
	height: 100%;
	width: 100%;
	background-color:#304660;
	color:#222222;
}
h1{
	color:#eee;
	font-size:38px;
}
b{
	font-weight: 800;
}
a{
	color:#eee;
}
main{
	position:relative;
}
/** Navigation ********************************************************/
nav{
	width:100%;
	color:#eee;
	position:fixed;
	background-color:#222222;
	height:60px;
	z-index:100;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.75);
}
nav .logo{
	width:50px;
	heihgt:50px;
}
nav .icon-spaceit_logo{
	font-size:42px;
}
nav h1{
	font-size:24px;
	line-height:60px;
}
.floatright{
	float:right;
}
.floatright ul{
	float:right;
}
nav ul li{
	display:inline-block;
	vertical-align:top;
	padding:0 12px;
}
nav .user{
	background-color:#516484;
	width:340px;
	position:relative;
}
nav .expand_toggle{
	width:60px;
	padding:0;
	text-align:center;
	background-color:#3e5372;
	position:absolute;
	right:0;
}
.navpush{
	height:60px;
}
/** User side panel ********************************************************/
.usersidepanel {
	width:240px;
	background-color:#eee;
	height: calc(100% - 60px);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.75);
}
.usersidepanel .head{
	width:100%;
	background-color:#304660;
	line-height:60px;
	font-size:21px;
	color:#fff;
}
.usersidepanel li{
	display: table;
	height:60px;
	border-bottom:1px solid #ccc;
	width:100%;
	line-height:60px;
}
.usersidepanel li .img_con{
	width:30px;
	height:30px;
	float:left;
	margin:15px 8px 0 0;
	background-color:#333;
	border-radius:15px;
	border:1px solid #ccc;
}
.usersidepanel .inner{
	padding-left:10px;
	display:table-cell;
	veritcal-align:middle;
}
/** Sidebar ********************************************************/
.sidebar{
	position:absolute;
	right:0px;
	width:340px;
	background-color:#eee;
	height: calc(100% - 60px);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.75);
	z-index:90;
}
.sidebar .head {
	position:relative;
	color:#fff;
	height:220px;
	background: #8ebf64;
	background: -moz-linear-gradient(-45deg, #8ebf64 98%, #22b597 100%);
	background: -webkit-linear-gradient(-45deg, #8ebf64 98%,#22b597 100%);
	background: linear-gradient(135deg, #8ebf64 98%,#22b597 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebf64', endColorstr='#22b597',GradientType=1 );
}
.sidebar .head .node_op{
	background-color: rgba(0,0,0,0.30);
	padding:12px;
}
.sidebar .head .node_op p{
	font-size:11px;
}
.sidebar .head .node_stats{
	width:100%;
	position:absolute;
	bottom:0;
	background-color: rgba(0,0,0,0.30);
}
.sidebar .head .node_stats li{
	display:inline-block;
	padding:12px 6px;
}
.sidebar .node_info{
	background-color:#e3e3e3;
	padding:12px;
}
.sidebar .node_info p{
	font-weight:500;
	font-size:14px;
}

.sidebar .node_info h1{
	font-weight:800;
	text-transform: uppercase;
	font-size:21px;
	color:#222;
	margin-bottom:10px;
}
